@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Overlock&family=Questrial&family=Ubuntu:wght@500&display=swap");

/* set variables needed  */

:root {
    --font-designed: "Lobster";
    --font-header: "Ubuntu";
    --font-body: "Questrial";
    --font-neutral: "Overlock";
    --color-head: #0e2e44;
    --color-beauty: #430d99;
    --color-alert: yellow;
    --color-white: #fff;
    --color-faint: rgba(255, 255, 255, 0.3);
    --color-dark: #000;
}


/* end of variables needed */

* {
    margin: 0;
    box-sizing: border-box;
}


/* selector for basic needs */


/* end of selector */


/*  let the magic begin */

body {
    scroll-behavior: smooth;
    /*for scroll behaviour */
    margin: 0;
    padding: 0;
}


/* preloader */

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    font-size: 2rem;
    width: 80px;
    height: 80px;
    margin: -76px 0 0 -76px;
    border: 16px solid #1b1313;
    border-radius: 50%;
    border-top: 16px solid #0e2e44;
    border-left: 16px solid #430d99;
    border-right: 16px solid #338b2b;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    background-color: black;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#myDiv {
    display: none;
}


/* preloader ends here  */


/* navbar */

header {
    background-color: var(--color-dark);
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    color: #fff;
    margin-left: 20px;
    font-size: 1.7rem;
    font-family: "Ubuntu";
    z-index: 2;
    font-weight: 900;
}

.logo span {
    color: var(--color-alert);
}

.big-screen {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}

ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
}

ul li {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    color: #fff;
    font-family: "Ubuntu";
    text-transform: uppercase;
}

.toggle {
    display: none;
}

.icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.icons i {
    color: var(--color-white);
    font-size: 1.2rem;
    padding: 10px;
    margin: 10px 0;
}

.active-nav {
    background-color: #fff;
    color: var(--color-head);
    font-weight: 900;
    transition: all 0.5s ease-in-out;
    padding: 10px;
    border-radius: 5px 20px 5px 20px;
}


/* end navbar */


/* section 1 */

.section1 {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-image: url("./images/svg.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--color-dark);
}

.section1-div-1 {
    width: auto;
    /* height: 400px;
    background-color: #0e2e44; */
}

.section1-div-2 {
    margin: 5vh 10px 10px 10px;
    width: 350px;
    height: 500px;
    background-image: url("./images/1.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    background-repeat: no-repeat;
}

.text-div1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    /* text-align: center; */
    /* background-color: #1b1313; */
}

.text-div1 h6 {
    font-family: var(--font-header);
    font-size: 1.2rem;
    font-weight: 500;
    text-align: left;
    color: var(--color-faint);
    margin-top: 10px;
}

.text-div1 h1 {
    font-family: var(--font-designed);
    font-size: 4.5rem;
    font-weight: 700;
    color: var(--color-alert);
}

.text-div1 h4 {
    font-family: var(--font-header);
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--color-faint);
}

.text-div1 p {
    width: 500px;
    margin: 20px;
    font-size: 1rem;
    color: var(--color-white);
    font-family: var(--font-body);
}

.welcome-btn .btn1,
.btn2 {
    font-family: var(--font-body);
    margin: 10px 30px;
    width: 250px;
    font-size: 2rem;
    border-radius: 8px;
    background-color: transparent;
    padding: 5px;
    border: 0.5px solid black;
    transition: background 3s cubic-bezier(0.19, 1, 0.22, 1);
}

.welcome-btn .btn1:hover,
.welcome-btn .btn2:hover {
    background-color: var(--color-alert);
    transition: background 3s cubic-bezier(0.215, 0.61, 0.355, 1);
    color: var(--color-beauty);
}


/* end o section 1 */


/* section 1 media query  */

@media screen and (max-width: 1063px) {
    .section1 {
        height: 100%;
    }
    .section1-div-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100vh;
    }
}


/* screen size under 840 px */

@media screen and (max-width: 895px) {
    #loader {
        position: absolute;
        left: 57%;
        top: 50%;
    }
    header {
        justify-content: space-between;
    }
    .toggle {
        color: var(--color-white);
        position: fixed;
        top: 15px;
        font-size: 2rem;
        z-index: 3;
        right: 50px;
        display: flex;
    }
    .big-screen {
        display: flex;
        transform: translateX(100vw);
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        width: 100%;
        position: fixed;
        top: 60px;
        transition: transform 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
        z-index: 3;
        left: 0;
        background-color: #000;
        height: calc(100vh - 60px);
    }
    .active {
        transform: translateX(0vw);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        z-index: 3;
        transition: transform 300ms cubic-bezier(0.6, 0.04, 0.98, 0.335);
        flex-direction: column;
        width: 100%;
        position: fixed;
        top: 60px;
        left: 0;
        background-color: #000;
        height: 100%;
    }
    nav ul {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 100%;
    }
    .icons {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
    }
    .icons i {
        color: var(--color-white);
        font-size: 1.2rem;
        padding: 10px;
    }
    .section1 {
        width: 100vw;
        height: 100%;
    }
    .section1-div-1 {
        height: 100vh;
        width: 100%;
        margin-top: 10vh;
    }
    .text-div1 {
        width: 95%;
        /* padding: 20px; */
        text-align: center;
        /* background-color: #338b2b; */
    }
    .text-div1 h6 {
        text-align: center;
        margin-top: 15px;
    }
    .text-div1 h1 {
        font-size: 3rem;
        margin: 15px 0;
    }
    .text-div1 p {
        margin: 15px 0;
        font-size: 1rem;
        text-align: center;
        padding: 10px !important;
        width: 95%;
        color: var(--color-white);
        font-family: var(--font-body);
    }
    /* .section1-div-2 {
        height: 50vh;
        width: 100%;
    } */
}

@media screen and (max-width: 500px) {
    .text-div1 h6 {
        font-size: 1rem;
    }
}


/* media query ends here  */


/* section 2 */

.section2 {
    height: 100%;
    width: 100%;
    display: flex;
    margin: 10vh 0;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
}

.section2-header h1 {
    font-size: 2rem;
    font-family: var(--font-designed);
    font-weight: 700;
    margin-left: 20px;
    text-transform: uppercase;
    position: relative;
    padding: 20px;
}

.section2-header h1::after {
    content: "";
    position: absolute;
    top: 0;
    left: 5px;
    background-color: var(--color-beauty);
    width: 120px;
    height: 2px;
}

.section2-body {
    display: flex;
    margin-top: 10vh;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.section2-body-box1,
.section2-body-box2 {
    height: 100%;
    width: 500px;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

@media screen and (max-width: 1049px) {
    .section2-body-box1,
    .section2-body-box2 {
        width: 80%;
        margin: 0;
        height: 100%;
        justify-content: space-evenly;
    }
}

.p1 {
    font-family: var(--font-header);
    font-size: 1.7rem;
}

.p2,
.p3,
.p4 {
    font-size: 1rem;
    font-family: var(--font-body);
    margin: 15px 0;
}

@media screen and (max-width: 840px) {
    .section2 {
        height: 100%;
    }
    .section2-header {
        margin: 10vh 0;
    }
    .section2-body {
        height: 100%;
    }
}

@media screen and (max-width: 517px) {
    .section2-body-box1,
    .section2-body-box2 {
        width: 97%;
        text-align: center;
        padding: 5px;
    }
    .p1 {
        font-size: 1.2rem;
    }
}


/* end o section 2 */


/* section3 */

.section3 {
    height: 100vh;
    width: 100%;
    margin-top: 20vh;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
}

.section3-header {
    height: 100%;
}

.section3-header h1 {
    font-size: 2rem;
    text-transform: uppercase;
    font-family: var(--font-designed);
    margin-left: 20px;
    position: relative;
    padding: 20px;
    height: 100%;
}

.section3-header h1::after {
    content: "";
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 20px;
    background-color: var(--color-beauty);
    width: 120px;
    height: 2px;
}

.section3-body {
    height: 100%;
    margin-top: 10vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.section3-box1,
.section3-box2 {
    width: 400px;
    height: 100%;
    display: flex;
    margin: 0 10px;
    text-align: left;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    justify-content: space-evenly;
}

.logo-box3 {
    font-size: 2rem;
}

.dater3 {
    font-size: 0.8rem;
    font-family: monospace;
}

.box-sec-3 {
    padding: 10px;
}

.dater3,
.works,
.body-box3 {
    margin: 10px 0;
}

.works {
    font-size: 1rem;
    font-family: "ubuntu";
}

.body-box3 {
    font-size: 1rem;
    font-family: var(--font-body);
}

.header-box3 {
    font-size: 1.7rem;
    font-family: var(--font-header);
}

@media screen and (max-width: 840px) {
    .section3-header {
        margin: 10vh 0;
    }
    .section3 {
        height: 100%;
    }
    .section3-body {
        height: 100%;
    }
}

@media screen and (max-width: 820px) {
    .section3-box1,
    .section3-box2 {
        width: 100%;
    }
}


/* section3 ends here  */


/* section4 */

.section4 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url("./images/2a.jpg") no-repeat center center fixed;
    background-size: cover;
}

.section4-header {
    text-align: center;
    margin-top: 10vh;
}

.section4-header h1 {
    font-size: 2rem;
    text-transform: uppercase;
    font-family: var(--font-designed);
    font-weight: 700;
    margin-left: 20px;
    color: var(--color-white);
    position: relative;
    padding: 20px;
}

.section4-header h1::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    background-color: var(--color-beauty);
    width: 120px;
    height: 2px;
    transform: translate(-50%, -50%);
}

.section4-intro {
    text-align: center;
    height: 100%;
    margin-top: 10vh;
    width: 550px;
}

@media screen and (max-width: 840px) {
    .section4-header {
        margin: 10vh 0;
    }
    .section4 {
        height: 100%;
    }
    .section4-intro {
        width: 100%;
    }
}

.section4-intro h2 {
    font-family: var(--font-header);
    padding: 5px;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--color-white);
}

.section4-body {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

.ability-box {
    width: 400px;
    height: 200px;
    /* background-color: #338b2b; */
    color: var(--color-faint);
    margin: 5px;
}

.ability-number {
    font-size: 2.5rem;
    color: var(--color-beauty);
    font-weight: bolder;
    font-family: var(--font-designed);
}

.ability-box {
    margin-top: 15vh;
}

.ability-header {
    font-size: 1.2rem;
    font-family: var(--font-neutral);
    color: var(--color-white);
}

.action-sec {
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.action-sec h1 {
    font-size: 1.8rem;
    margin: 10px 0;
    font-family: var(--font-neutral);
    color: var(--color-white);
}

.action-sec p {
    font-size: 1.2rem;
    font-family: var(--font-neutral);
    color: var(--color-white);
}

.action-sec button {
    font-size: 1.5rem;
    font-family: var(--font-neutral);
    color: var(--color-white);
    background-color: var(--color-beauty);
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5vh 0;
    transition: background 1s ease;
    width: 100%;
}

.action-sec button:hover {
    background-color: var(--color-alert);
    transition: background 1s ease;
    color: var(--color-dark);
}


/* section4 ends here  */


/* section5 starts here  */

.section5 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20vh;
}

.section5-header {
    text-align: center;
    margin-top: 10vh;
}

.section5-header h1 {
    font-size: 2rem;
    text-transform: uppercase;
    font-family: var(--font-designed);
    font-weight: 700;
    margin-left: 20px;
    color: var(--color-dark);
    position: relative;
    padding: 20px;
}

.section5-header h1::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    background-color: var(--color-beauty);
    width: 120px;
    height: 2px;
    transform: translate(-50%, -50%);
}

.section5-intro {
    text-align: center;
    height: 100%;
    margin-top: 10vh;
    width: 550px;
}

.section5-intro h1 {
    font-size: 1.5rem;
    font-family: var(--font-neutral);
    color: var(--color-dark);
}

.section5-works {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
    height: 100%;
    margin-top: 10vh;
}

.work5 {
    width: 400px;
    height: 300px;
    background-color: var(--color-head);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    position: relative;
    border-radius: 10px;
}

.img-section5 {
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
}

.img-section5 img {
    width: 300px;
    height: 300px;
    opacity: 1;
    object-fit: contain;
    object-position: center;
}

.view-section5 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.7rem;
    cursor: grab;
    color: var(--color-alert);
    z-index: 2;
    transform: translateY(400px);
}

.view-section5 .fa {
    cursor: grab;
}

.link-section5 {
    position: absolute;
    bottom: 2%;
    right: 7%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    color: var(--color-alert);
    background-color: #0e2e44;
    width: 40px;
    height: 40px;
    transform: translateY(50px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-section5:hover .link-section5 {
    transform: translateY(-40px);
    transition: transform 1s ease;
    z-index: 3;
}

.img-section5:hover .view-section5 {
    transform: translateY(-5px);
    transition: transform 0.7s ease;
    z-index: 3;
}


/* image hover background effect 

*/

.img-section5:hover img {
    opacity: 0.3;
    transition: opacity 1s ease;
}


/*  modal for works */

.modal-wrapper {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: 1s ease-in-out all;
    justify-content: center;
    display: none;
    z-index: 10;
    align-items: center;
}

.md-img {
    width: 600px;
    transition: 1s ease-in-out all;
    height: 500px;
    object-fit: contain;
    object-position: center;
}

.times {
    position: absolute;
    transition: 1s ease-in-out all;
    right: 20px;
    top: 20px;
    color: var(--color-white);
    font-size: 1.7rem;
}

@media screen and (max-width: 600px) {
    .modal-wrapper img {
        width: 100%;
        height: 80%;
        object-fit: contain;
    }
}


/* end of modal  */


/*  hover ends here  */


/* certification */

.certification {
    margin-top: 20vh;
}

.cert-wrapper {
    width: 95vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    margin-top: 20vh;
    justify-content: center;
}

@media screen and (max-width: 1000px) {
    .cert-wrapper {
        grid-template-columns: repeat(2, 300px);
        grid-template-rows: repeat(3, 300px);
    }
}

@media screen and (max-width: 640px) {
    .cert-wrapper {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        grid-template-rows: repeat(6, 300p);
    }
}

.cert-box {
    background-color: #0e2e44;
}

.cert-box img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 840px) {
    .section5-header {
        margin: 10vh 0;
    }
    .section5 {
        height: 100%;
    }
    .section5-intro {
        width: 100%;
    }
}


/* section5 ends here */


/* section6 starts here  */

.section6 {
    width: 100%;
    margin-top: 20vh;
    height: 100vh;
}

.section6-header {
    text-align: left;
    margin-top: 10vh;
}

.section6-header h1 {
    font-size: 2rem;
    text-transform: uppercase;
    font-family: var(--font-designed);
    font-weight: 700;
    margin-left: 20px;
    color: var(--color-dark);
    position: relative;
    word-spacing: 5px;
    padding: 20px;
}

.section6-header h1::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 7%;
    background-color: var(--color-beauty);
    width: 150px;
    height: 2px;
    transform: translate(-50%, -50%);
}


/* ends here */


/* footer starts here */


/* footer ends here */